/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f0f1a;
  color: white;
  text-align: center;
}

header {
  padding: 20px;
  background: #111;
}

.hero {
  padding: 80px 20px;
}

button {
  padding: 12px 20px;
  border: none;
  background: #6c5ce7;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #a29bfe;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111827;
  position: sticky;
  top: 0;
}

.logo {
  color: #6c5ce7;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.btn {
  padding: 8px 15px;
  background: #6c5ce7;
  border: none;
  color: white;
  border-radius: 6px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
}

.primary-btn {
  padding: 12px 20px;
  background: #6c5ce7;
  border: none;
  color: white;
  border-radius: 8px;
  margin-top: 15px;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 20px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
}

/* ABOUT */
.about, .contact {
  text-align: center;
  padding: 60px 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
}